[Unit]
Description=Gosmic API Server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=
ExecStart=/usr/local/gosmic/bin/gosmic-server -config /etc/gosmic/config.yaml
ExecStop=/bin/kill -s TERM $MAINPID
WorkingDirectory=/etc/gosmic
User=root
Group=root
Restart=always
RestartSec=5
StandardOutput=append:/var/log/gosmic/api.log
StandardError=append:/var/log/gosmic/api.log
SyslogIdentifier=%n

TimeoutStopSec=0
Restart=always
User=root
Group=root
RuntimeDirectory=/etc/gosmic
RuntimeDirectoryMode=2755

UMask=007
PrivateTmp=yes
LimitNOFILE=65535